@model IEnumerable<TipoCuenta>

@{
    ViewData["Title"] = "Tipos cuentas";
}

<h1> TIpos Cuentas</h1>
<h5>El tipo de cuena se refiere a como podemos agrupar cuentas.
    Ejemplos: Prestamos, tarjetas de credito, etc.
</h5>

<a asp-action="Crear" class="btn btn-primary mb-3">NuevA Cuenta</a>

<table class="table">
    <thead>
        <tr>
            <th>Acciones</th>
            <th>Nombre</th>
        </tr>
    </thead>

    <tbody id="reordenable">
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @*//selecciona el id  para poder ir a la hoja editar o borrar *@
                    <input type="hidden" value="@item.Id" class="ids">
                    <a asp-action="Editar" asp-route-id="@item.Id" class="btn btn-primary">Ediat</a>
                    <a asp-action="Borrar" asp-route-id="@item.Id" class="btn btn-danger">Borrar</a>
                </td>
                <td>
                    @item.Nombre
                </td>
            </tr>
        }
    </tbody>
</table>

@section Scripts{
    <script>

        const urlOrdenar = '@Url.Action("Ordenar")';

        $(function(){
            $("#reordenable").sortable({
                stop: async function(e, ui){
                   await actualizarOrdenes();
                }

            });

        async function actualizarOrdenes(){
            const ids = obtenerIdsDeElementos();
            await enviarIdsAlBackend(ids);
        }

        function obtenerIdsDeElementos(){
            const ids = $(".ids").map(function (){
                return $(this).val();
            }).get();
            return ids;
        }

         async function enviarIdsAlBackend(ids){
            var data = JSON.stringify(ids);

                await fetch(urlOrdenar, {
                method: 'POST',
                body: data,
                headers: {
                    'Content-Type': 'application/json'
                }
            });
        }

        })
    </script>
}